<h1>Détails de '{{ livre.titre }}</h1>
<p>auteur : {{ livre.auteur }}</p>
<p>isbn : {{ livre.isbn }}</p>
<p>genre : {{ livre.genre }}</p>
<p>année de publication : {{ livre.annee_publication }}</p>
<p>nombre de pages : {{ livre.nombre_pages }}</p>
<p>disponible : {{ livre.disponible }}</p>
<p>nombre d'exemplaires : {{ livre.nombre_exemplaires }}</p>
<p>résumé : {{ livre.resume }}</p>
<p>éditeur : {{ livre.editeur }}</p>
<p>cote : {{ livre.cote }}</p>
<a href="/bibliotheque/app_accueilr">Retour a l'acceil</a>
<a href="/bibliotheque/catalogue">aller au catalogue</a>
